@layer components {
  .btn{
    @apply transition-colors duration-200 hover:bg-blue-700 rounded-sm text-white font-bold bg-blue-500;
  }
  .btn-blue {
    @apply hover:bg-blue-700 text-white bg-blue-500;
  }
  .btn-green {
    @apply hover:bg-green-700 text-white bg-green-500;
  }
  .btn-faded {
    @apply opacity-80 pointer-events-none;
  }
  .btn-loading {
    @apply flex justify-center items-center;
  }
  .btn-small {
    @apply py-2 px-4;
  }
  .btn-large {
    @apply w-full py-2;
  }
}